body {
  overflow-x: hidden;
}
.weekPlanContainer {
  margin-bottom: 1rem; /* Space below the table */
  border: 1px solid #ddd; /* Optional: Add border for visual separation */
  overflow-y: auto;
  }
.weekPlan-button {
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
}
.weekPlan-button:hover {
  background-color: #d9d9df;
  border: none;
}
.weekPlan-button.active {
  background-color: #fd9c17;
  color: white;
}
.weekPlan-button-logout {
  background-color: #404048;
  color: orangered;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  cursor: pointer;
}
.weekPlan-button-logout:hover {
  background-color: orangered;
  color: white;
  transition: 0.3s ease;
}
.weekplan-button-container {
  margin-left: 20px;
  font-size: 14px;
}
.weekPlanTable {
  border-top: 1px solid black;
  padding: 10px;
}
