body {
  overflow-x: hidden;
}
.weekPlanContainer {
  height: 100%;
  margin-bottom: 1rem; /* Space below the table */
  overflow-y: auto;
  }
.weekPlan-button {
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
}
.weekPlan-button:hover {
  background-color: #d9d9df;
  border: none;
}
.weekPlan-button.active {
  background-color: #fd9c17;
  color: white;
}
.weekPlan-button-logout {
  background-color: #404048;
  color: orangered;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  cursor: pointer;
}
.weekPlan-button-logout:hover {
  background-color: orangered;
  color: white;
  transition: 0.3s ease;
}
.weekplan-button-container {
  margin-left: 20px;
  font-size: 14px;
}
.weekPlanTable {
  border-top: 1px solid black;
  padding: 10px;
}
/* ============== ADD INTERSECTION FORM ================ */
.add-intersection-container{
  margin-right: 5px;
  margin-bottom: 1rem;
  display: flex;
  align-items: start;
  justify-content: center;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid rgb(216, 214, 214);
  padding: 20px;
}
.add-intersection-form{
  background-color: #dfdfdf;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid rgb(216, 214, 214);
  padding: 20px;
}
.intersection-table{
  max-height:510px; /* Adjust height to fit your needs */
  overflow-y: auto;
  overflow-x: hidden; /* Hide horizontal scroll */
  background-color: white;
  border-radius: 5px;
}
.camera-container{
  margin-right: 5px;
  display: flex;
  align-items: start;
  justify-content: center;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid rgb(216, 214, 214);
  padding: 20px;
}
.add-camera-form{
  height: 300px;
  background-color: #dfdfdf;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid rgb(216, 214, 214);
  padding: 20px;
  margin-bottom: 10px;
}
.camera-table{
  max-height:540px; /* Adjust height to fit your needs */
  overflow-y: auto;
  overflow-x: hidden; /* Hide horizontal scroll */
  background-color: white;
  border-radius: 5px;
}